@media (max-width: 1200px) {
  .container {
    padding-top: 60px; }
  .web {
    display: none !important; }
  .mobile {
    display: block; }
  .inner {
    width: 100%; }
    .inner.inner-remove {
      padding: 0; }
  header .wrap {
    height: 60px;
    padding: 0 15px; }
    header .wrap .keyword-box {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #efc750;
      z-index: 1;
      padding: 7.5px 15px 7.5px 50px; }
      header .wrap .keyword-box .keyword-wrap {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%; }
        header .wrap .keyword-box .keyword-wrap .input-box {
          display: inline-flex;
          width: 100%;
          flex: 1;
          position: relative;
          padding-right: 10px; }
          header .wrap .keyword-box .keyword-wrap .input-box input {
            width: 100%;
            padding: 0 50px 0 15px;
            font-size: 12px;
            letter-spacing: -0.15px;
            height: 36px; }
          header .wrap .keyword-box .keyword-wrap .input-box .keyword-btn {
            position: absolute;
            z-index: 1;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            width: 36px;
            height: 36px;
            background: url("../img/ic_keyword.png") no-repeat center/17.5px; }
        header .wrap .keyword-box .keyword-wrap .keyword-close-btn {
          display: inline-flex;
          background: url("../img/ic_close.png") no-repeat center/cover;
          width: 15.5px;
          height: 15.5px; }
    header .wrap .left-menu {
      z-index: 10;
      display: inline-flex; }
      header .wrap .left-menu a.header-menu {
        display: inline-flex;
        background: url("../img/ic_header_menu.png") no-repeat center/cover;
        width: 20px;
        height: 18px; }
    header .wrap .right-menu {
      display: inline-flex;
      align-items: center; }
      header .wrap .right-menu a + a {
        margin-left: 15px; }
      header .wrap .right-menu .search-btn {
        display: inline-flex;
        background: url("../img/ic_search.png") no-repeat center/cover;
        width: 20.5px;
        height: 20.5px; }
      header .wrap .right-menu .cart-btn {
        position: relative;
        display: inline-flex;
        background: url("../img/ic_cart.png") no-repeat center/cover;
        width: 19.5px;
        height: 22.5px; }
        header .wrap .right-menu .cart-btn .alarm-cnt {
          position: absolute;
          right: -9px;
          bottom: -5px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #f6c62d;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-family: "Poppins";
          font-weight: 500; }
    header .wrap h1.logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
      header .wrap h1.logo a {
        width: 99px;
        height: 24px; }
    header .wrap nav {
      display: none; }
  article.popup {
    padding: 0 35px;
    min-width: 100%; }
  article.popup .popup-wrap .popup-body article.pop-welcome-group .info-intro-box {
    font-size: 27px; }
  article.popup .popup-wrap .popup-body article.pop-welcome-group .info-txt-box {
    font-size: 13px;
    line-height: 21px;
    letter-spacing: -0.1625pxpx; }
  article.popup .popup-wrap .popup-body {
    padding: 55px 33px 42px; }
  article.popup .popup-wrap .popup-body {
    min-height: 290px; }
  article.popup .popup-wrap .popup-foot {
    padding: 20px 23px 20px 20px; }
    article.popup .popup-wrap .popup-foot .close-btn {
      font-size: 13px; }
  .cbox label .txt {
    font-size: 13px;
    padding-left: 30px; }
  .cbox label i {
    width: 21px;
    height: 21px; }
  section.vr {
    height: calc(100vh - 60px);
    overflow: hidden; }
  section.lobby-contents {
    position: static; }
  section.lobby-contents .wrap {
    width: 100%;
    padding: 25px 15px 45px;
    flex-direction: column;
    overflow: hidden; }
  article.lobby-items {
    width: 100%; }
  article.lobby-events,
  article.lobby-banners {
    display: none; }
  article.lobby-item-subject {
    display: block;
    font-size: 15px;
    font-weight: 700;
    font-family: "Poppins";
    padding-bottom: 15px; }
  article.lobby-items .swiper-slide a img {
    max-width: 100%;
    width: 100%; }
  article.lobby-items {
    flex-direction: column;
    padding-bottom: 17px;
    margin: 0 -15px 0 0;
    width: auto; }
  article.lobby-items .swiper-button-prev:after, article.lobby-items .swiper-container-rtl .swiper-button-next:after, article.lobby-items .swiper-button-next:after, article.lobby-items .swiper-container-rtl .swiper-button-prev:after {
    display: none; }
  article.lobby-items .swiper-pagination {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block; }
    article.lobby-items .swiper-pagination .swiper-pagination-bullet {
      margin: 0 3px;
      width: 4px;
      height: 4px;
      background-color: #222222; }
    article.lobby-items .swiper-pagination .swiper-pagination-bullet-active {
      background-color: #f5be28; }
  article.lobby-items .swiper-slide {
    width: 40%; }
  article.lobby-items .swiper-slide .label-box {
    display: none; }
  article.lobby-mobile-events {
    display: block;
    margin-top: 12px; }
    article.lobby-mobile-events ul li + li {
      margin-top: 13px; }
    article.lobby-mobile-events ul li a img {
      width: 100%;
      max-width: 100%; }
  footer {
    display: block; }
    footer .wrap {
      padding: 0 15px 50px; }
      footer .wrap .terms-list {
        display: flex;
        align-items: center; }
        footer .wrap .terms-list .terms-btn {
          display: inline-flex;
          font-size: 12px;
          font-weight: 700;
          line-height: 24px; }
          footer .wrap .terms-list .terms-btn + .terms-btn {
            margin-left: 16px; }
      footer .wrap .corp-info {
        padding-top: 24px;
        font-size: 12px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.5); }
  section.vr article.vr-map {
    top: 15px;
    right: 15px;
    width: 95px; }
  section.main-contents {
    position: static; }
  section.main-contents .wrap {
    width: 100%;
    padding: 25px 15px 45px;
    flex-direction: column;
    overflow: hidden;
    text-align: left;
    align-items: flex-start;
    background-color: #f3f3f3; }
  section.main-contents .wrap ul {
    flex-flow: row wrap;
    margin: 0 -7.5px; }
  section.main-contents .wrap ul li {
    width: calc(50% - 15px);
    margin: 7.5px;
    border-radius: 12.5px; }
    section.main-contents .wrap ul li:nth-child(n+5) {
      display: none; }
    section.main-contents .wrap ul li.all-product {
      display: block !important; }
    section.main-contents .wrap ul li.active {
      box-shadow: 6px 13px 18px 0px rgba(202, 202, 202, 0.46); }
  section.main-contents .wrap ul li a {
    padding: 0;
    overflow: hidden;
    background-color: #fff; }
    section.main-contents .wrap ul li a .img-box {
      width: 100%;
      padding-bottom: 70%;
      height: 0;
      position: relative;
      background-color: #f9f9f9; }
      section.main-contents .wrap ul li a .img-box img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        max-width: 100%;
        width: 100%;
        height: 100%;
        max-height: 100%; }
        section.main-contents .wrap ul li a .img-box img.web {
          display: none; }
  section.main-contents .wrap ul li a .txt-box {
    padding: 15px;
    width: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 19px;
    color: #222222;
    letter-spacing: -0.28px;
    font-weight: 700; }
    section.main-contents .wrap ul li a .txt-box .more-box {
      display: block;
      padding-top: 10px; }
      section.main-contents .wrap ul li a .txt-box .more-box .more-btn .txt {
        font-weight: 400;
        color: #222222;
        font-size: 12px;
        line-height: 19px;
        letter-spacing: -0.24px;
        padding-right: 6px; }
      section.main-contents .wrap ul li a .txt-box .more-box .more-btn .ic-more {
        background: url("../img/ic_more2.png") no-repeat center/cover;
        width: 7.5px;
        height: 7.5px; }
  section.vr article.vr-point.on .point-info-box {
    white-space: initial;
    width: 175px; }
  section.vr article.vr-point .point-info-box .point-info-wrap .info-box .more-box .more-btn {
    display: none; }
  section.vr article.vr-point .point-info-box .point-info-wrap {
    padding: 16px 12px; }
  section.vr article.vr-point .point-info-box .point-info-wrap .img-box {
    width: 49px;
    height: 49px;
    display: inline-flex; }
  section.vr article.vr-point .point-info-box .point-info-wrap .info-box {
    flex: 1;
    padding-top: 0; }
  section.vr article.vr-point .point-info-box .point-info-wrap .info-box .txt-box {
    font-size: 12px;
    line-height: 16px; }
  section.vr article.vr-map .wrap .head-box .head-txt {
    font-size: 12px;
    padding-right: 3px; }
  section.main-contents .wrap ul li.all-product {
    width: 100%;
    border-radius: 12.5px; }
  section.main-contents .wrap ul li a.all {
    flex-direction: row;
    align-items: center;
    background: #363636;
    border-radius: 0; }
  section.main-contents .wrap ul li a.all .ic-box {
    display: inline-flex; }
  section.main-contents .wrap ul li a.all .all-txt {
    padding-left: 8px;
    padding-top: 0; }
    section.main-contents .wrap ul li a.all .all-txt br {
      display: none; }
  nav.lnb {
    display: none;
    z-index: 501;
    top: 0;
    width: 80%;
    background-color: rgba(239, 199, 80, 0.9);
    position: fixed;
    left: 0;
    height: 100vh; }
    nav.lnb .lnb__header {
      width: 100%;
      border-bottom: 1px solid #e5cc80;
      position: relative; }
      nav.lnb .lnb__header .top-box {
        display: flex;
        justify-content: space-between;
        height: 40px;
        align-items: center;
        padding: 15px 27px 0; }
        nav.lnb .lnb__header .top-box .intro-box {
          font-size: 14px;
          letter-spacing: -0.175px; }
        nav.lnb .lnb__header .top-box .intro-menu {
          display: flex; }
          nav.lnb .lnb__header .top-box .intro-menu .menu-btn {
            display: inline-flex;
            align-items: center;
            color: #1b1b1b;
            font-size: 12px;
            font-weight: 700;
            font-family: "Poppins";
            position: relative; }
            nav.lnb .lnb__header .top-box .intro-menu .menu-btn + .menu-btn {
              margin-left: 30px; }
              nav.lnb .lnb__header .top-box .intro-menu .menu-btn + .menu-btn:after {
                content: '';
                position: absolute;
                left: -15px;
                top: 50%;
                width: 1px;
                height: 8px;
                background-color: #262626;
                transform: translateY(-50%); }
      nav.lnb .lnb__header .bottom-box {
        padding: 25px 27px; }
        nav.lnb .lnb__header .bottom-box .menu-list .menu-btn {
          display: inline-flex;
          flex-direction: column;
          align-items: center; }
          nav.lnb .lnb__header .bottom-box .menu-list .menu-btn + .menu-btn {
            margin-left: 27px; }
          nav.lnb .lnb__header .bottom-box .menu-list .menu-btn .ic-my {
            background: url("../img/ic_my.png") no-repeat center/cover;
            width: 16px;
            height: 17px; }
          nav.lnb .lnb__header .bottom-box .menu-list .menu-btn .ic-delivery {
            background: url("../img/ic_delivery.png") no-repeat center/cover;
            width: 26.5px;
            height: 17px; }
          nav.lnb .lnb__header .bottom-box .menu-list .menu-btn .ic-cart {
            background: url("../img/ic_cart2.png") no-repeat center/cover;
            width: 16px;
            height: 18px; }
          nav.lnb .lnb__header .bottom-box .menu-list .menu-btn .txt {
            padding-top: 11px;
            font-family: "Poppins";
            font-weight: 700; }
    nav.lnb .lnb__body {
      padding: 40px 27px; }
      nav.lnb .lnb__body .lnb-menu-box + .lnb-menu-box {
        margin-top: 35px; }
      nav.lnb .lnb__body .lnb-menu-box a.menu-tit {
        background: url("../img/ic_quick.png") no-repeat center right/6px 10px;
        padding-right: 20px; }
      nav.lnb .lnb__body .lnb-menu-box .menu-tit {
        margin-bottom: 15px;
        color: #1b1b1b;
        font-size: 20px;
        font-family: "Poppins";
        font-weight: 700; }
      nav.lnb .lnb__body .lnb-menu-box .brand-list {
        display: block;
        font-size: 0;
        margin: -7.5px; }
        nav.lnb .lnb__body .lnb-menu-box .brand-list a {
          width: calc(50% - 15px);
          margin: 7.5px; }
          nav.lnb .lnb__body .lnb-menu-box .brand-list a .img-box {
            width: 100%; }
            nav.lnb .lnb__body .lnb-menu-box .brand-list a .img-box img {
              width: 100%;
              max-width: 100%; } }

/*# sourceMappingURL=responsive.css.map */